{% extends "base.html" %}
{% block content %}
{% if data %}
<div class="col-md-12">
    <h1>Halaman Usulan KGB yang Disetujui</h1>
    <div class="card">
        <div class="card-header bg-light">
            <h3>{{data.nama}}</h3>
            <h6>{{data.nip}}</h6>
        </div>
        <div class="card-body">
            <form class="row" method="POST" action="" role="form">
                {% csrf_token %}
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label">Dinas Instansi</label>
						<input id="nip" name="nip" class="form-control" value="{{ data.opd }}" readonly />
                    </div>
                    <div class="form-group">
                        <label for="golterakhir" class="form-control-label">Pangkat/Golong Terakhir :</label>
                        <input id="golterakhir" name="pangol" class="form-control" value="{{ data.golongan }}" readonly />
                    </div>
                    <div class="form-group">
                        <label for="jnsklmn" class="form-control-label">SK Acuan :</label>
                        <input id="jnsklmn" name="skpd" class="form-control" value="{{ pangkat.nama }} | {{pangkat.jenis}} | {{pangkat.tanggal}}" size=auto readonly />
                    </div> 
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="tmtpns" class="form-control-label">TMT CPNS :</label>
                        <input id="tmtpns" name="skpd" class="form-control" value="{{ data.tmt_cpns}}" readonly />
                    </div>
                    <div class="form-group">
                        <label for="jnsklmn" class="form-control-label">Masa Kerja Lama :</label>
                        <input id="jnsklmn" name="skpd" class="form-control" value="{{nom.mk_tahun}} Tahun {{nom.mk_bulan}} Bulan" size=auto readonly />
                    </div>  
            
                    <div class="form-group">
                        <label for="jnsklmn" class="form-control-label">Masa Kerja Baru :</label>
                        <input id="jnsklmn" name="skpd" class="form-control" value="{{nom.mkb_tahun}} Tahun {{nom.mkb_bulan}} Bulan" " readonly />
                    </div> 
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="tmtpns" class="form-control-label">TMT KGB  :</label>
                        <input id="tmtpns" name="skpd" class="form-control" value="{{nom.tmt_kgb}}" readonly />
                    </div>
                    <div class="form-group">
                        <label for="tmtpns" class="form-control-label">Besaran Gaji  :</label>
                        <input id="tmtpns" name="skpd" class="form-control" value="{{gaji.tbgaji_currency}} ( {{gaji.terbilang}} )" readonly />
                    </div>
                        <a type="submit" class="btn btn-sm btn-info" href="{% url 'pegawai:prosesdetailpost' data.id %}">Proses</a>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endif%}

{% endblock %}